<p id="notice"><%= notice %></p>

<h1>Listing Order Kinds</h1>

<table>
  <thead>
    <tr>
      <th>Order kind name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_kinds.each do |order_kind| %>
      <tr>
        <td><%= order_kind.order_kind_name %></td>
        <td><%= link_to 'Show', order_kind %></td>
        <td><%= link_to 'Edit', edit_order_kind_path(order_kind) %></td>
        <td><%= link_to 'Destroy', order_kind, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order kind', new_order_kind_path %>
