<%= form_for(@installer) do |f| %>
  <% if @installer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@installer.errors.count, "error") %> prohibited this installer from being saved:</h2>

      <ul>
      <% @installer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_key %><br>
    <%= f.text_field :employee_key %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
