<p id="notice"><%= notice %></p>

<p>
  <strong>Employee key:</strong>
  <%= @installer.employee_key %>
</p>

<p>
  <strong>First name:</strong>
  <%= @installer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @installer.last_name %>
</p>

<%= link_to 'Edit', edit_installer_path(@installer) %> |
<%= link_to 'Back', installers_path %>
