<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @order.account %>
</p>

<p>
  <strong>Work order:</strong>
  <%= @order.work_order %>
</p>

<p>
  <strong>Check in:</strong>
  <%= @order.check_in %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
