%p#notice= notice
%h1 Listing Activities
%table
  %thead
    %tr
      %th Activity name
      %th Activity cost
      %th{:colspan => "3"}
  %tbody
    - @activities.each do |activity|
      %tr
        %td= activity.activity_name
        %td= activity.activity_cost
        %td= link_to 'Show', activity
        %td= link_to 'Edit', edit_activity_path(activity)
        %td= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Activity', new_activity_path
