%p#notice= notice
%p
  %strong Location name:
  = @location.location_name
%p
  %strong Municipio:
  = @location.municipio
%p
  %strong State:
  = @location.state
= link_to 'Edit', edit_location_path(@location)
|
= link_to 'Back', locations_path
